    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-fixed-top site-header">
      <div class="container-fluid">
        <div class="navbar-header">
          <!-- collapsible menu for mobile -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- image and brand -->
          <a class="navbar-brand pull-left" href="#"><img src="/images/logo-inventory-items.png" width="164" height="23"  alt="User Profile logo"/></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <!-- views -->
          <ul class="nav navbar-nav">
            <li class="<%= typeof items !== 'undefined' ? 'active' : '' %>"><a href="/items">Items</a></li>
            <% if(typeof permissionLevel !== 'undefined' && ['ADMIN', 'MANAGER'].indexOf(permissionLevel) !== -1) { %>
              <li class="<%= typeof users !== 'undefined' ? 'active' : '' %>"><a href="/users">Users</a></li>
            <% } %>
          </ul>
          <!-- user dropdown + admin functions, if applicable -->
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <%= (typeof username !== 'undefined') ? username : 'user' %>&nbsp<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">API Status: <span id="serverStatus">...</span></li>
                <% if(typeof permissionLevel !== 'undefined' && permissionLevel === 'ADMIN') { %>
                  <li><a href="/admin/log">Audit Log</a></li>
                  <li><a href="/admin/permissions">Permissions</a></li>
                <% } %>
                <li disabled><a href="/users/profile">Profile</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/users/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/#navbar -->
      </div><!--/.container-fluid -->
    </nav>
