    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header pull-left">
          <a class="navbar-brand" href="/items">DLIMS</a>
        </div>
        <div class="navbar-header pull-right">
           <button type="button" class="navbar-toggle"
                  data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <p class="navbar-text">
            <% if(typeof username !== 'undefined') { %>
              <b><%= username %></b>&nbsp;
              <a href="/users/logout" class="navbar-link">Logout</a>&nbsp;
            <% } %>
            (status: <span id="serverStatus">...</span>)
          </p>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="<%= typeof items !== 'undefined' ? 'active' : '' %>"><a href="/items">Items</a></li>
            <% if(typeof permissionLevel !== 'undefined' && ['ADMIN', 'MANAGER'].indexOf(permissionLevel) !== -1) { %>
              <li class="<%= typeof users !== 'undefined' ? 'active' : '' %>"><a href="/users">Users</a></li>
            <% } %>
            <% if(typeof permissionLevel !== 'undefined' && permissionLevel === 'ADMIN') { %>
              <li class="<%= typeof admin !== 'undefined' ? 'active' : '' %>"><a href="/admin">Admin</a></li>
            <% } %>
            <!--<li><a href="/about">About</a></li>-->
          </ul>
        </div>
      </div>
    </div>
