    <!-- User Modal -->
    <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="userModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            <form class="form" id="userForm">
              <div class="form-group">
                <label for="email" class="control-label">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" required>
              </div>
              <div class="form-group">
                <label for="name" class="control-label">User name:</label>
                <input type="text" class="form-control" id="name" placeholder="Enter name" required minlength="3" maxlength="50">
              </div>
              <div class="form-group">
                <label for="school" class="control-label">School:</label>
                <input type="text" class="form-control" id="school" placeholder="Enter school" maxlength="60">
              </div>
              <div class="form-group">
                <label for="password1" class="control-label">Password (min. 8 characters):</label>
                <input type="password" class="form-control" id="password1" placeholder="Provide password" minlength="8" maxlength="64" required>
              </div>
              <div class="form-group">
                <label for="password2" class="control-label">Verify password:</label>
                <input type="password" class="form-control" id="password2" minlength="8" maxlength="64" placeholder="Repeat password" required data-parsley-equalto="#password1" data-parsley-equalto-message="The password confirmation should match the password">
              </div>
              <div class="form-group">
                <label for="permissionLevel" class="control-label">Permission level:</label>
                <select class="form-control" id="permissionLevel">
                  <option selected>USER</option>
                  <option>MANAGER</option>
                  <option>ADMIN</option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="btnSave">Save changes</button>
          </div>
        </div>
      </div>
    </div>
