<html>
  <head>
    <%= include partials/head.ejs %>
  </head>
  <body>
    <div class="page-header text-center">
      <h1>Welcome to DouglasLabs Inventory Management Syetem</h1>
    </div>

    <%= include partials/scripts.ejs %>
  </body>
</html>
