<!DOCTYPE html>
<html>
  <head>
    <%= include partials/head.ejs %>
    <link rel='stylesheet' href='/css/login.css' />
  </head>
  <body>
    <div class="page-header text-center">
      <h1>Welcome to DouglasLabs Inventory Management System</h1>
      API Status: <span id="serverStatus">...</span>
    </div>

    <!-- Login form -->
    <div class="container">
      <form class="form-login" method="post" action="/users/login">
        <h2 class="form-login-heading">Please sign in</h2>
        <label for="email" class="sr-only">Email address</label>
        <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
      </form>
    </div>

    <!-- Message -->
    <% if (message.length > 0) { %>
      <div class="container">
        <div class="alert alert-danger text-center"><%= message %></div>
      </div>
    <% } %>

    <%= include partials/scripts.ejs %>
    <script src="/js/login.js"></script>
  </body>
</html>
