<html>
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/navbar.ejs %>
    <div class="page-header text-center">
      <h1>User Profile</h1>
    </div>
    <div class="row">
      <div class="col-lg-offset-3 col-lg-6">
        <img href="/"
        <form class="form-horizontal" id="settingsForm">
          <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-8">
              <p class="form-control-static" id="email"><%= email %></p>
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="name" placeholder="Enter name"
                value="<%= username %>" required minlength="3" maxlength="50">
            </div>
          </div>
          <div class="form-group">
            <label for="password1" class="col-sm-2 control-label">Password:</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="password1" placeholder="Provide password" minlength="8" required>
            </div>
          </div>
          <div class="form-group">
            <label for="password2" class="col-sm-2 control-label">Verify password:</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="password2" minlength="8" maxlength="64" placeholder="Repeat password" required data-parsley-equalto="#password1" data-parsley-equalto-message="The password confirmation should match the password">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <strong>Storage services:</strong>
            </div>
            <div class="col-sm-2 text-center">
              <span style="font-size: 48px">
                <button type="button" class="glyphicon glyphicon-plus-sign"></button>
              </span>
            </div>
          </div>
        </form>
        <div class="pull-right">
          <button id="btnSave" class="btn btn-primary"><span class="glyphicon glyphicon-ok-sign"></span>&nbsp;Save</button>
        </div>
      </div>
    </div>
    <p id="relogin" class="hidden text-center">
      Your settings have been updated - please relogin. (You'll be automatically logged out in <span id="timer">5</span> seconds)
    </p>

    <% include partials/flash.ejs %>
    <% include partials/scripts.ejs %>
    <script src="/vendor/js/parsley.min.js"></script>
    <script src="/js/settings.js"></script>
  </body>
</html>
